boto3==1.20.24
decorator==5.1.1
Flask==2.3.2
Flask-Caching==2.0.2
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.5
apscheduler==3.10.0
ldap3==2.9.1
paramiko==2.11.0
psycopg2-binary==2.9.6
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
simplejson==3.19.1
SQLAlchemy==1.4.46
smart-open==4.1.2
Werkzeug==2.3.7
zipstream-new==1.1.8
https://github.com/python-cas/python-cas/archive/master.zip

# For testing

freezegun==1.2.2
moto==3.0.7
pytest==7.4.0
pytest-flask==1.2.0
tox==4.8.0

# For Mrs Baylock
selenium==4.16.0
