#
# Apache configuration files and keys.
#
files:
  /tmp/damien.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      AllowEncodedSlashes NoDecode

  /tmp/ssl.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so

      # Redirect http to https.
      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>
