@keyframes fadeOut {
  from {
    box-shadow: inset 1px 1px 8px 8px #daf0fd70;
  }
  to {
    box-shadow: inset 0px 0px transparent;
  }
}
.borderless {
  border: none !important;
}
.datepicker-input {
  max-width: 7rem;
  padding-left: 12px !important;
}
.font-size-18 {
  font-size: 18px;
}
.form-label {
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.height-unset {
  min-height: unset !important;
}
.h-100vh {
  height: 100vh;
}
.input-override {
  background-color: transparent !important;
  border-radius: 4px;
  border: 1px solid #333;
  height: 40px;
  max-height: 40px;
  min-height: 40px;
  padding: 5px;
}
.input-override.dark {
  border-color: rgba(255, 255, 255, 0.24);
  color: #FFFFFF;
}
.input-override.light {
  background: #FFFFFF !important;
  border-color: rgba(0, 0, 0, 0.38);
}
.input-override:disabled {
  cursor: default;
}
.input-override:disabled.dark {
  color: rgba(255, 255, 255, 0.5);
}
.input-override:disabled.light {
  color: rgba(0, 0, 0, 0.38);
}
.input-override:not(:disabled).dark:hover {
  border-color: rgba(255, 255, 255) !important;
}
.input-override:not(:disabled).light:hover {
  border-color: rgba(0, 0, 0, 0.86) !important;
}
.native-select-override {
  -webkit-appearance: menulist !important; /* override vuetify style */
  -moz-appearance: menulist !important; /* override vuetify style */
  appearance: menulist !important; /* override vuetify style */
  border-radius: 4px;
  box-shadow:
      0px 3px 1px -2px rgb(0 0 0 / 20%),
      0px 2px 2px 0px rgb(0 0 0 / 14%),
      0px 1px 5px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
  max-height: 40px;
  padding: 10px 10px;
  width: 100%
}
.native-select-override.dark {
  background: #1E1E1E;
  color: #FFFFFF;
}
.native-select-override.dark option:disabled {
  color:rgba(255, 255, 255, 0.7) !important;
}
.native-select-override.light {
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
}
.position-absolute {
  position: absolute !important;
}
.position-relative {
  position: relative !important;
}
.rotate-180 {
  transform: scaleX(-1) scaleY(-1);
}
.separator {
  border-color: rgba(128, 128, 128, .75) !important;
}
.sr-only {
  position: absolute !important;
  left: -10000px !important;
  top: auto !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}
.text-condensed {
  line-height: 1.2 !important;
}
.text-nowrap {
  white-space: nowrap;
}
.text-wrap {
  white-space: break-spaces;
}
.text-prewrap {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
}
.truncate-with-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vs__actions button:enabled {
  cursor: pointer;
}
.vs__dropdown-toggle {
  border: none !important;
  border-image: none !important;
  padding: 3px 8px !important;
}
input.vs__search:enabled {
  cursor: text !important;
}
.v-dialog.v-dialog--active {
  overflow-y: visible;
}
.v-input--is-focused .v-input--selection-controls__input {
  appearance: auto !important;
  color: -webkit-focus-ring-color !important;
  outline: auto !important;
  outline-color: -webkit-focus-ring-color !important;
  outline-offset: 0px !important;
  outline-style: auto !important;
  outline-width: 1px !important;
}
.v-text-field--placeholder input::placeholder {
  color: #999999 !important;
}
.w-75 {
  width: 75%;
}
a {
  text-decoration: none !important;
}
svg {
  fill: currentColor;
}
ul {
  list-style: none;
}
#service-announcement a {
  color: #337ab7;
}
