.borderless {
  border: none !important;
}
.datepicker-input {
  max-width: 7rem;
  padding-left: 12px !important;
}
.form-label {
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.height-unset {
  min-height: unset !important;
}
.input-override {
  background-color: transparent !important;
  border-radius: 4px;
  border: 1px solid #333;
  height: 40px;
  padding: 5px;
}
.input-override.dark {
  border-color: rgba(255, 255, 255, 0.24);
  color: #FFFFFF;
}
.input-override.light {
  background: #FFFFFF !important;
  border-color: rgba(0, 0, 0, 0.38);
}
.native-select-override {
  -webkit-appearance: menulist !important; /* override vuetify style */
  -moze-appearance: menulist !important; /* override vuetify style */
  appearance: menulist !important; /* override vuetify style */
  border-radius: 4px;
  box-shadow:
      0px 3px 1px -2px rgb(0 0 0 / 20%),
      0px 2px 2px 0px rgb(0 0 0 / 14%),
      0px 1px 5px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
  max-height: 40px;
  padding: 11px 10px;
  width: 100%
}
.native-select-override.dark {
  background: #1E1E1E;
  color: #FFFFFF;
}
.native-select-override.dark option:disabled {
  color:rgba(255, 255, 255, 0.7) !important;
}
.native-select-override.light {
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
}
.rotate-180 {
  transform: scaleX(-1) scaleY(-1);
}
.separator {
  border-color: rgba(128, 128, 128, .75) !important;
}
.sr-only {
  position: absolute !important;
  left: -10000px !important;
  top: auto !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}
.text-condensed {
  line-height: 1.2;
}
.text-nowrap {
  white-space: nowrap;
}
.text-wrap {
  white-space: break-spaces;
}
.vs__actions button:enabled {
  cursor: pointer;
}
.vs__dropdown-toggle {
  border: none !important;
  border-image: none !important;
  padding: 3px 8px !important;
}
input.vs__search:enabled {
  cursor: text !important;
}
.v-dialog.v-dialog--active {
  overflow-y: visible;
}
.v-input--is-focused .v-input--selection-controls__input {
  appearance: auto !important;
  color: -webkit-focus-ring-color !important;
  outline: auto !important;
  outline-color: -webkit-focus-ring-color !important;
  outline-offset: 0px !important;
  outline-style: auto !important;
  outline-width: 1px !important;
}
.vue-select-override {
  border-radius: 4px;
  padding: 9px 0;
}
.vue-select-override .vs__dropdown-menu {
  padding-left: 0;
}
.vue-select-override .vs__dropdown-menu  .vs__dropdown-option{
  padding-left: 10px;
}
.vue-select-override.vs--disabled .vs__clear,
.vue-select-override.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator,
.vs--disabled .vs__search,
.vs--disabled .vs__selected {
  cursor: default !important;
}
.vue-select-override .vs__dropdown-toggle .vs__actions{
  padding-right: 0px;
}
.vue-select-override.vs--disabled.dark .vs__dropdown-toggle,
.vue-select-override.vs--disabled.dark .vs__dropdown-toggle input {
  background: #1E1E1E !important;
  color: #555555 !important;
}
.vue-select-override.dark,
.vue-select-override.dark .vs__dropdown-menu {
  background: #1E1E1E !important;
  border: 1px solid rgba(255, 255, 255, 0.24) !important;
  color: #FFF !important;
}
.vue-select-override:not(.vs--disabled).dark:hover {
  border-color: rgba(255, 255, 255) !important;
}
.vue-select-override.dark .vs__actions .vs__open-indicator {
  fill: currentColor !important;
  background: #1E1E1E !important;
}
.vue-select-override.light,
.vue-select-override.light .vs__dropdown-menu {
  background: #FFF !important;
  border: 1px solid rgba(0, 0, 0, 0.38) !important;
  color: #000 !important;
}
.vue-select-override:not(.vs--disabled).light:hover {
  border-color: rgba(0, 0, 0, 0.86) !important;
}
.vue-select-override.light .vs__actions .vs__open-indicator {
  fill: rgba(0, 0, 0, 0.38) !important;
}
a {
  text-decoration: none !important;
}
svg {
  fill: currentColor;
}